* {
    margin: auto;
    padding: 0;

}

.text_hello{
    margin: 10px;
    border: 12px dashed rebeccapurple;
    padding: 20px;
    background-color: bisque;
}

.content{
    box-sizing: border-box;
    min-height: 100%;
}

.corrupti{
    /* font-weight: bold; */
    /* font-weight: bolder; */
    font-weight: 900;
}
/* span{
    font-weight: 900;
} */
.footer{
    margin:20px 10px;
    border: 1px dashed rebeccapurple;
    position: absolute;
    bottom: 0;
}
